body{
    background-image: url("images/pexels-photo-4788103.jpeg");
    background-size: 1300px 900px;
    background-repeat: no-repeat;
    color: #747475;
}

h1{
    font-size: 3rem;
}

.header{
    text-align: center;
}

span{
    color: #f9fafa;
}

p{
    margin-bottom: 3%;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 7%;
}

.all{
text-align: center;
width: 150px;
color: #D2CACA;
}

.c1{
    background-color: #5D5C61;
}

.c2{
    background-color: #379683;
}

.c3{
    background-color: #7395AE;
}

.c4{
    background-color: #557A95;
}

.c5{
    background-color: #B1A296;
}

@media (max-width: 768px){

body{
    color:#8f8f91;
}

 h1{
    font-size: 1rem;
    color:#cbcbcb;
 }

 p{
    margin-bottom: 1%;
    font-size: 8px;
 }

 span{
    color:#8f8f91;
 }

 .container{
    flex-direction: column;
 }

 .all{
    margin-top: 8%;
    margin-bottom: 3%;
    display: flex;
    font-size: 8px;
    height: 20px;
    justify-content: center;
    align-items: center;
 }
}

@media (min-width: 1440px){
    body{
        background-size: 2560px ;
    }
}